.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item {
    padding: 10px;
}

.message_row {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: solid 2px gray;
    margin: 10px;
}

.add_message{
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}
.submit{
    background: red;
}